In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
from tensorflow.keras.optimizers import Adam

In [3]:
# Create a sample dataframe for testing
data = pd.DataFrame({
    'Month': pd.date_range(start='1/1/2000', periods=120, freq='M'),
    'Passengers': np.random.randint(100, 500, size=120)  # Random passenger counts
})

C:\Users\devid\AppData\Local\Temp\ipykernel_22880\2479946979.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  'Month': pd.date_range(start='1/1/2000', periods=120, freq='M'),

In [5]:
data

         Month  Passengers
0   2000-01-31         253
1   2000-02-29         375
2   2000-03-31         388
3   2000-04-30         376
4   2000-05-31         207
..         ...         ...
115 2009-08-31         379
116 2009-09-30         244
117 2009-10-31         362
118 2009-11-30         499
119 2009-12-31         466

[120 rows x 2 columns]

In [7]:
# Set 'Month' as the index
data.set_index('Month', inplace=True)

In [9]:
data

            Passengers
Month
2000-01-31         253
2000-02-29         375
2000-03-31         388
2000-04-30         376
2000-05-31         207
...                ...
2009-08-31         379
2009-09-30         244
2009-10-31         362
2009-11-30         499
2009-12-31         466

[120 rows x 1 columns]

In [11]:
# Scale the data using MinMaxScaler (scales between 0 and 1)
scaler = MinMaxScaler(feature_range=(0, 1))
scaled_data = scaler.fit_transform(data['Passengers'].values.reshape(-1, 1))